.avatar {
  float: right;
}

.xml {
  margin: 1em;
  padding: 1em;
  border: lightgray dashed thin;
}

.xml:hover {
  border: blue dashed thin;
}

.graph_wrapper {
  display: inline-block;
  border: solid lightgray thin;
  .graph_header {
    border-bottom: solid lightgray thin;
    overflow: auto;
    width: 100%;
  }
  .start_label {
    float: left;
  }
  .end_label {
    float: right;
  }
}

.sleep_start_times div {
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: center;
  padding: 3px;
  margin: 1px;
  color: white;
  overflow: hidden;
  div {
    padding: 0;
    margin: 0;
  }
}

.bogey {
  color: green;
}

